<!-- config.xml.snippet -->
<plugin name="cordova-android-support-gradle-release" spec="1.2.0">
    <variable name="ANDROID_SUPPORT_VERSION" value="23.+" />
</plugin>
<plugin name="cordova-android-play-services-gradle-release" spec="^1.3.0">
    <variable name="PLAY_SERVICES_VERSION" value="12.+" />
</plugin>